<%- include('header') %>
<form id="formulario-cotacao" class="pure-form" method="GET" action="/cotacao">
    <input name="cotacao" type="text" class="pure-input-rounded" placeholder="Cotação dolar">
    <input name="quantidade" type="text" class="pure-input-rounded" placeholder="Quantidade de dolares">
    <button type="submit" class="pure-button">Converter</button>
</form>
<%- include('footer') %>